.sns-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sns-logo {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #F2C94C;
}

.sns-logo img {
  width: 2.5em;
  height: 2.5em;
}